*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

@font-face {
    font-family: "Orelega One";
    src: url(/font/OrelegaOne-Regular.ttf);
    font-family: "Inter";
    src: url(/font/Inter-Regular.ttf);
  }

body{
    background-color: rgba(58, 60, 108, 0.20);
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 50px 1fr;
    margin: 0;
    position: relative;
    font-family: 'Inter';
    font-weight: 800;
    height: 100vh;
}

hr{
	margin: 1rem;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgba(58, 60, 108, 0.60);
    padding: 10px;
    font-weight: 1000;
    height: 100%;
    box-sizing: border-box;
}

.side_content{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.signout{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.signout a{
	width: 50%;
}

.signout input{
    background-color: #E67C00;
    border: none;
    font-family: 'Inter';
    font-weight: 1000;
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
}

.signout input:hover{
    border: 2px solid black;
    transition-duration: 0.05s;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    height: 85px;
    font-family: 'Times New Roman', Times, serif;
}

.company{
    width: max-content;
    height: 85px;
    padding-left: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.company h1{
    text-decoration: underline;
    margin: 0;
    margin-bottom: -3px;
    font-size:  50px;
    padding-right: 20px;
}

.company h3{
    font-size: 9px;
}

.profile{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px;
    background-color: #3A3C6C;
    color: white;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 1rem 0;
}

.profile:hover{
    border: 2px solid white;
    transition-duration: 0.05s;
    cursor: pointer;
}

.profile i{
    margin: auto 1rem;
}

a{
	color: white;
	text-decoration: none;
}

a:hover, a:hover, a:active, a:visited{
	color: white;
	text-decoration: none;
}

.sub-menu{
    color: white;
    background-color: #20102533;
    flex-direction: column;
    padding: 10px 10px 10px 50px;
    box-sizing: border-box;
    height: fit-content;
    gap: 10px;
    align-items: baseline;
    margin: -10px 10px 10px 10px; 
    display: flex;
}

.sub-menu:hover{
    border: none;
}

.sub-menu a{
    position: relative;
    cursor: pointer;
}

.sub-menu a::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    left: 0;
    height: 2px;
    bottom: -2px;
    transition: 0.3s ease;
}

.sub-menu a:hover::after{
    width: 100%;
}

#down_arrow{
    position: relative;
    left: 65;
}

.rotate-0 {
    transform: rotate(0deg);
}

.rotate-270 {
    transform: rotate(90deg);
}

#is_select{
    background-color: #602F72;
}

.title{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #3A3C6C;
    padding: 10px;
    align-items: center;
    display: flex;
    color: white;
    font-size: 30px;
    font-weight: 1000;
    justify-content: space-between;
}

.container{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container h3{
    color: #31325B;
    font-size: 1.5rem;
}

.back{
    height: max-content;
    margin: 1rem;
}

.back h3{
    color: #3A3C6C;
    font-size: 1.5em;
}

.back a{
    text-decoration: none;
}

.back a:visited{
    color: #3A3C6C;
}

.back a:hover{
    color: white;
}

.personal_detail{
    width: 70%;
    /* height: 75%; */
    margin: 1rem auto;
    grid-template-rows: 1fr 70px;
    background-color: rgba(255, 255, 255, 0.445);
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.personal_detail input{
    font-size: 1.1em;
    display: flex;
    padding: 1rem .3rem;
    margin: .5rem 0;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border: 1px rgba(0, 0, 0, 0.10) solid;
    box-sizing: border-box;
}

.personal_detail h3{
    margin-bottom: 1rem;
    font-size: 1.75em;
    color: #3A3C6C;
}

.personal_detail input::placeholder{
    color: #3A3C6C;
    font-weight: bold;
}

.save_change{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
}

.save_change input, .save_change a{
    display: block;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    border: 1px rgba(0, 0, 0, 0.10) solid;
    height: 45px;
    width: 175px;
    margin: auto;
    padding: 0;
    background-color: #CCE17B;
    font-family: 'Inter';
    font-weight: 1000;
}

#discard{
    background-color: #E67C00;
}

.save_change input:hover, #discard:hover{
    border: 1px solid black;
    transition-duration: .2s;
}

.save_change input:active, #discard:active{
    background-color: #3A3C6C;
    color: white;
    border: 1px solid black;
    transition-duration: .2s;
}

input{
    outline: none;
}

#disable{
	background-color: #D3D3D3;
}

@media only screen and (max-width: 950px) {
    body {
        grid-template-columns: 1fr; /* Change to a single column layout */
    }

    .sidebar {
        display: none; /* Hide the sidebar on small screens */
    }

    .title {
        grid-column: 1/2; /* Span the full width of the container */
    }

    .back {
        align-self: flex-start;
    }

    .container{
        width: 70%;
        margin: auto;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .personal_detail {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .left_content,
    .right_content {
        grid-column: 1/2; /* Span the full width of the container */
        padding: 0; /* Remove padding to make it full-width */
    }

    .right_content{
        margin-top: 20px;
        width: 450px;
    }

    .right_content input{
        width: 100%;
    }

    .save_change{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .save_change input{
        margin: 5;
    }
}